
<!-- top quote -->
    <div class="bgtop">
        <!-- nav bar for buttons -->

        
    <nav class="navbar" role="navigation">
        <button class="homebtn", type="button"><a href="/"><span class="glyphicon glyphicon-home"></span></a></button>

        <button class="addbtn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
    </nav>
        <div class="maoritext">
            <p class="maoriquote" id="text">
                {{maoriQuote}}
                <br>
                <br>
                <cite> {{author}} </cite>
            </p>
        <span class="arrows">
            <a href="/quote/{{prevId}}" class="previous">&#171;</a>
            <a href="/quote/{{nextId}}" class="next">&#187;</a>
        </span>
        </div>
    </div>

    <!-- bottom quote -->
    <div class="bgbottomquote">
        <div class="englishtext">
            <p class="englishquote">
                {{engQuote}}
                <br>
                <cite> {{author}} </cite>
            </p>
        </div>          
    </div>
    

